
body {
  text-align: center;
  font-family: 'Varela Round', sans-serif;
  padding: 8rem 0;
  color: black;
  background-color: white;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  margin: 1rem;
}

p {
  font-size: 2rem;
  margin: 2rem;
}

#avatar {
  height: 10rem;
  margin: 1rem;
}

#sbutton {
  height: 5rem;
  margin: 1rem;
}
